// Змінні для кольорів з макету
$mainBg: #f8f8f8;
$black: rgba(0, 0, 0, 0.87);
$yellow: #f4e041;
$hoverYellow: #ffe302;
$disabled: #b4b4b4;
$blue: #00bdd3;
$gray: #7e7e7e;
$border: #d0cfcf;
$error: #cb3d40;
