.header {
   min-height: 60px;
   background-color: #fff;
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   z-index: 10;
   &__container {
   }
   &__row {
      padding: 13px 0px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 14px;
   }
   &__logo {
      img {
         max-width: 104px;
      }
   }
   &__buttons {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: 10px;
      flex-wrap: wrap;
   }
}
