@import "../../../styles/colors.scss";

.button {
   display: inline-flex;
   min-height: 34px;
   min-width: 100px;
   justify-content: center;
   align-items: center;
   color: rgba(0, 0, 0, 0.87);
   background-color: $yellow;
   border-radius: 80px;
   padding: 4px 20px;
   line-height: 162%;
   font-size: 16px;
   margin: 0 auto;

   transition: background-color 0.3s ease 0s;
   @media (any-hover: hover) {
      &:hover {
         background-color: $hoverYellow;
      }
   }

   &:active {
      background-color: $hoverYellow;
   }

   &:disabled {
      background-color: $disabled;
   }
}
